<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Database" connectionString="Data Source=myDatabase.db;" providerName="System.Data.SqlClient" />
		<add name="DatabaseDev" connectionString="Data Source=;User ID=;Password=;Encrypt=False;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
		<add name="DatabaseProd" connectionString="Data Source=;User ID=;Password=;Encrypt=False;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="BotToken" value="" />
		<add key="DevelopBotToken" value=""/>
		<add key="HenrikToken" value=""/>
	</appSettings>

</configuration>