<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Database" connectionString="Data Source=myDatabase.db;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="BotToken" value="" />
		<add key="ChannelToMessage" value=""/>
	</appSettings>

</configuration>